VITE_SUPABASE_URL=https://yddjmnbvshkkkvqrbqzy.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InlkZGptbmJ2c2hra2t2cXJicXp5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjY1MTAxNTcsImV4cCI6MjA4MjA4NjE1N30.55L_q_Krc3Jk9D5RCrq9oQeb5NVJNtokP-U-taUfnqQ
